@media screen and (min-width: 818px) {
  .formCont {
    display: flex;
  }

  .bookForm {
    display: grid;
    place-items: center;
    width: 35vw;
    margin: 0 0 3rem 7vw;
    padding: 1rem 3vw;
    border: #0290ff 1px solid;
    border-radius: 8px 0 0 8px;
  }

  .formTitle {
    font-size: 3vw;
    color: #0290ff;
  }

  .formInput {
    margin: 1rem 0;
    background-color: transparent;
    border: #0290ff 1px solid;
    border-radius: 8px;
    height: 2rem;
    width: 25vw;
  }

  .inputCont {
    display: flex;
    flex-direction: column;
  }

  .book-Submit {
    background-color: #0290ff;
    color: #fff;
    border: 2px solid #0290ff;
    font-size: 20px;
    cursor: pointer;
  }

  .book-Submit:hover {
    background-color: #fff;
    color: #0290ff;
    border: 2px solid #0290ff;
    font-size: 20px;
    cursor: pointer;
  }

  .book-sec {
    width: 40vw;
    background-image: url('../../asset/book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 3rem 0;
    border: #0290ff 1px solid;
    border-radius: 0 8px 8px 0;
  }

  .overlay {
    width: 40vw;
    height: 100%;
    opacity: 9;
    background-color: rgba(9, 218, 255, 0.4);
  }

  .book-p {
    position: absolute;
    bottom: 8rem;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0 0 0 3rem;
    width: 30vw;
    color: #0c4f87;
  }
}
