.progress-label {
  width: 5rem;
  height: 5rem;
}

@media screen and (min-width: 818px) {
  .book-page {
    background-color: red;
  }
}

@media screen and (max-width: 818px) {
  .progress-label {
    width: 5rem;
    height: 5rem;
  }
}
